# Example common config file, change to suit local requirements
#
# Export parameters to supply run-time context, file must be 'sourced'
#
# Requires:
# $HOMEGODB = dir root for locally installed system software. Please change this for your system!
export HOMEGODB=${PWD}/

ASSAYTYPE=''

# Data directories - these are examples only please change
# to suit local requirements, apparent redundancy is for flexibility
#
export DATADIR=${HOMEGODB}/data/
export DBDATAPRFX=${DATADIR}/
DATAROOT=${DBDATAPRFX}/${ASSAYTYPE}
export DBDATASFX=${ASSAYTYPE}
export DBDATADIR=${DATAROOT}
export GMAPDIR=${DATADIR}/genemap
export LOGDIR=${DATADIR}/logs

# the rest again these can be changed for local needs
export PLSYSBIN=/sw/opt/perl/5.16.2/bin
export BINDIR=/usr/local/bin
export PERL5LIB=${HOMEGODB}/GoDB/load/pm
export CFGLDIR=${HOMEGODB}/GoDB/load/cfg
export PLLDIR=${HOMEGODB}/GoDB/load/pl
export PYLDIR=${HOMEGODB}/GoDB/load/py
export PYEDIR=${HOMEGODB}/GoDB/extract/py
export PYUDIR=${HOMEGODB}/GoDB/utils/py
export PYWDIR=${HOMEGODB}/GoDB/webapp
export SHDIR=${HOMEGODB}/GoDB/load/sh
export SHLDIR=${HOMEGODB}/GoDB/load/sh
export SHEDIR=${HOMEGODB}/GoDB/extract/sh
export SHUDIR=${HOMEGODB}/GoDB/utils/sh
#Note: please double check the location of your python2.7 site-packages using `python2.7 -m site --user-site`
export PYTHONSITEPACKAGES=`python2.7 -m site --user-site`
#export PYTHONPATH=${HOMEGODB}/local/lib/python2.7/site-packages:${HOMEGODB}/GoDB/lib/py
export PYTHONPATH=${PYTHONSITEPACKAGES}:${HOMEGODB}/GoDB/lib/py
# NOTE! (g)zcat for a compressed file different between Linux / MacOS
# Linux version
export ZCATEXEC=/bin/zcat
# MacOS version
# export ZCATEXEC=/usr/bin/gzcat
#
#
#
# Default: process all autosomal chromosome data
export FIRSTCHR=1
export LASTCHR=22
